.container{
    display: flex;
    justify-content: center;
    margin: auto;
    .w400{
        width: 550px;
    }

    span{
        color: var(--clr-purple-light-200);
        font-family: Inter;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: -.01em;
    }

    h1{
        margin-top:20px;
        margin-bottom: 30px;
        color: var(--clr-white-200);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Inter;
        font-size: 86.109px;
        font-style: normal;
        font-weight: 600;
        line-height: 88px; /* 102.196% */
        letter-spacing: -1.76px;
    }

    p{
        color: var(--clr-grey-200);
        font-family: Inter;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; 
    }
}

.scrollContainer {
    display: flex;
    width: 600px;

    article {
        img {
            object-fit: contain;
        }
    }

    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 200px;
        

        .displayNone{
            display: none;
        }
    }



    .line {
        margin: 50px;
        background-color: #434242;
        width: 4px;
        height: 400px;
        border-radius: 10px;

        .innerLine {
            display: block;
            width: 3px;
            height: 0px;
            border-radius: 10px;
            background-color: var(--clr-purple);
        }
    }

}