.scrollContainer {
    display: flex;

    

    article {
        img {
            object-fit: contain;
        }
    }

    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 200px;
        

        .displayNone{
            display: none;
        }
    }



    .line {
        margin: 50px;
        background-color: #434242;
        width: 4px;
        height: 400px;
        border-radius: 10px;

        .innerLine {
            display: block;
            width: 3px;
            height: 0px;
            border-radius: 10px;
            background-color: var(--clr-purple);
        }
    }

}